* {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.popup {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	margin: 15% auto;
	padding: 20px;
	border-radius: 8px;
	width: 400px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
	display: flex;
	justify-content: flex-end;
}

.close-btn {
	color: #aaa;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
	color: #000;
}

.eventForm {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.input-el {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.input-el label {
	font-size: 14px;
	color: #333;
}

.input-el input {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	width: 100%;
	font-size: 16px;
	box-sizing: border-box;
}

button[type="submit"] {
	background-color: rgb(0, 105, 255);
	color: #fff;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
}

button[type="submit"]:hover {
	background-color: rgb(0, 85, 204);
}

.fc .fc-button-primary {
	background-color: rgb(0, 105, 255);
	border: none;
}

.fc-daygrid-event-harness {
	background: rgb(0, 150, 136);
	margin: auto 6px;
	border-radius: 5px;
	color: #fff;
	padding-left: 10px;
	margin-bottom: 4px;
}
